@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    word-break: keep-all;
  }

  body {
    @apply bg-mainColor;
  }
}

@layer utilities {
  .kv-swiper .swiper-pagination-bullet {
    @apply h-[8px] w-[20px] rounded-[10px] border border-white bg-transparent opacity-100;
  }

  .kv-swiper .swiper-pagination-bullet-active {
    @apply h-[8px] w-[20px] rounded-[10px] border border-white bg-white;
  }

  .classes-list::after {
    content: "";
    @apply absolute right-[-12px] top-[3px] h-[15px] w-[1px] bg-[#000] md:hidden;
  }

  .point-bar {
    @apply h-[2px] w-[12px] bg-[#7D604C] md:h-[4px] md:w-[20px];
  }

  .li-point::before {
    content: "";
    @apply point-bar absolute left-[0px] top-[12px] md:left-[48px] md:top-[20px];
  }

  .nav-point::before {
    content: "";
    @apply point-bar absolute left-[0] top-[12px] md:hidden;
  }

  .about-swiper .swiper-wrapper {
    @apply md:ml-[calc(-50vw_+_280px)] xl:ml-[-370px];
  }

  .about-swiper .swiper-slide {
    user-select: none;
  }

  .about-swiper .swiper-slide::after {
    content: "";
    @apply absolute left-0 top-0 h-full w-full bg-black opacity-65 transition-opacity;
  }

  .about-swiper .swiper-slide.swiper-slide-active::after {
    @apply opacity-0;
  }
}
